# Environment variables
.env

# Certs
certs/server.crt
certs/server.key

# Python
venv/
__pycache__/
*.pyc

# IDE files
.idea/
.vscode/

# General
.DS_Store
*.log

# Go
go/bin/

# Rust
target/
Cargo.lock
rust/risk_service/target/

# Node.js
frontend/node_modules/
frontend/build/
.pnp
.pnp.js

# C++
*.o
*.out
test_load
test_orderbook

# Data
/data/BTCUSD_1min.csv
